@{
    ViewBag.Title = "Ben's Dictionary";
}

<h2>Ben's Dictionary</h2>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">
        Consult the Dictionary:
    </span>
    <input type="text" class="form-control" placeholder="type here" />
    <button type="button" class="btn btn-info">Consult</button>
</div>